#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #242424;
  color: #fff;
  font-family: "Iceberg", "Helvetica Neue", Helvetica, Arial;
  display: flex;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/* * Track */

.track-list {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.track {
  background-color: blue;
  border-radius: 10px;
}
